/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* montserrat-700 - cyrillic_latin */
 @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: #e5e5e5;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}


img{
    max-width: 100%;
}

*:focus{
    opacity: 0.5;
    outline: none;
}


body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: black;
}
.content-section{
display: flex;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.justify-content-center{
    justify-content: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 200px;
    margin-left: 200px;
}
.contour-1{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.column-3{
    position: relative;
    width: 100%;
    min-height: 1px;
}
.content-main{
    background-color: aliceblue;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09), 0 4px 7px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 16px 0px 0px;
    padding: 32px 48px;
    }
.contour-2{
    padding-left: 0;
    padding-right: 0;
}
.content-header{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-right: 1rem;
}
.logo-olympus{
    object-fit: contain;
    width: 150px;
    height: 150px;
}
.main-logo{
    object-fit: contain;
    width: 200px;
    height: 150px;    
}
.stages-container{
    margin-top: 30px;
}
.stages{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
}
.stage{
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;    
}
.stage.stage-selected .stage-icon {
    background-color: #197f7f;
    color: white;
}
.stage .stage-icon{
    margin-right: 10px;
}
.stage-icon{
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    border-radius: 50%;
    text-align: center;
    width: 33px;
    height: 33px;
    background-color: #ffffffc2;        
}
.stage.stage-selected .stage-text{
    color: black;
}
.stage-strip:first-of-type{
    min-width: 150px;
    max-width: 150px;
}
.stage-strip{
    flex: 1;
    height: 3px;
    background-color: #0e2020c2;  
    margin: 0 10px;
}
.stage .stage-icon{
    margin-right: 0 8px;    
}
.stage-icon{
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    border-radius: 50%;
    text-align: center;
    width: 33px;
    height: 33px;
}
.stage-strip:nth-of-type(2){
    min-width: 150px;
    max-width: 150px;
}
.cotent-basic{
    margin-top: 30px;
}
.subject{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.subject-text{    
    font-weight: 700;
    line-height: 1.5;
    color: black;
    font-size: 30px;
}
.text{
    font-size: 25px;    
    text-align: start;
    font-weight: 700;
}
.number-class{
margin-left: 3rem;
}
.subject-main{
    margin-top: 1.5rem;
}
.p-relative{
    position: relative;
}
.subject-row{
    width: 97%;
    background: #c1d1d1c2;
    border-radius: 8px;
    padding: 22px 24px 16px;
    margin-bottom: 20px;
}
.subject-image{
    align-items: center;
}

.subject-name{
    display: flex;
}
.subject-icon{
    object-fit: contain;
    width: 80px;
    height: 80px;
    margin-right: 40px;
    margin-left: 40px;
}
.subject-title{
flex: 1 1 0%;
font-size: 2.5rem;
font-weight: 500;
}
.btn-choose:hover{
background-color:  #1c6153c2 ;
}
.btn-text{
    border: 0;
    color: rgb(0, 0, 0);
}
.button{
    padding: 30px 40px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1.75rem;
    border: 2px solid black;
    border-radius: 30px;
    transition: bac 0.5s ease-in-out;
    cursor: pointer;
    background-color: #c1d1d1c2;
}
.subject-icon-chemestry{
    object-fit: contain;
    width: 200px;
    height: 200px;
    margin-right: 40px;
    margin-left: 40px;
}
.subject-text-chemestry{
    flex: 1 1 0%;
    font-size: 2rem;
    font-weight: 300;  
    line-height: 1.2;      
}
.chemestry__link{
    font-size: 2rem;
    padding: 5px 10px;
    border-radius: 30px;    
    font-weight: 500;
    color: #ffa723;   
    text-decoration: none;
}
.tab-block{
    display: none;
}
.tab-block.active{
    display: initial;
}
.chemestry-price{
    flex: -1 1 0%;
    font-size: 2rem;
    font-weight: 300;  
    line-height: 2; 
}
.subject-text-math{
    flex: 1 1 0%;
    font-size: 2rem;
    font-weight: 300;  
    line-height: 1.2;      
}
.math-price{
    flex: -1 1 0%;
    font-size: 2rem;
    font-weight: 300;  
    line-height: 2; 
}
.subject-text-phisics{
    flex: 1 1 0%;
    font-size: 2rem;
    font-weight: 300;  
    line-height: 1.2;      
}
.phisics-price{
    flex: -1 1 0%;
    font-size: 2rem;
    font-weight: 300;  
    line-height: 2; 
}

.header__order-call,
.header__number{
    margin-bottom: 10px;

    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;

}
.header__number{
    position: relative;    
    padding-left: 50px;   
    
    color: #41bbf3;
}

.header__number:hover{
    opacity: 0.9;
}

.header__number::before{
    position: absolute;
    top: 8px;
    left: 0;

    content: '';
    display: inline-block;

    width: 34px;
    height: 34px;
    
    background: url('/img/telegram-icon.png') center no-repeat transparent;
    background-size: contain;
    transition: transform 0.3s ease-in-out;
}

.header__number:hover::before{
    transform: rotate(360deg);
}

.header__order-call,
.header__number-vk{
    margin-bottom: 10px;

    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;

}

.header__number-vk{
    position: relative;    
    padding-left: 50px;   
    
    color: #081270c2;
}

.header__number-vk:hover{
    opacity: 0.9;
}

.header__number-vk::before{
    position: absolute;
    top: 8px;
    left: 0;

    content: '';
    display: inline-block;

    width: 34px;
    height: 34px;
    
    background: url('/img/vk-icon.svg') center no-repeat transparent;
    background-size: contain;
    transition: transform 0.3s ease-in-out;
}

.header__number-vk:hover::before{
    transform: rotate(360deg);
}




