/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* montserrat-700 - cyrillic_latin */
 @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: #e5e5e5;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}


img{
    max-width: 100%;
}

*:focus{
    opacity: 0.5;
    outline: none;
}
body{
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
}
body.main-section{
    min-height: 100vh;
}
.side-section{
    height: 100vh;
    width: 18.75rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #dad6d6;
    transition: width 0.2s linear 0s;
    z-index: 100;
    border-right: 1px solid #e5e5e5;
}
.side-section::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 18.75rem;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
    opacity: 0;
    visibility: hidden;
}
.menu-logo{
    width: 100%;
    text-align: center;
    padding: 25px;
    overflow: hidden;
}
.logo-olimpys{
    display: inline-block;
    vertical-align: middle;
    width: 211px;
    height: 50px;
    text-indent: 1000px;
    overflow: hidden;
    background: url(/img/logo-rus-short.png) center center no-repeat;
    background-size: contain;
    transition: none;
    position: relative;
    text-decoration: none;
}
.side-section__button-back{
    position: absolute;
    top: 77px;
    right: -17px;
    z-index: 200;    
    transition: 0.3s linear;    
}
.button-back{
    width: 2.625rem;
    height: 2.625rem;
    fill: none;        
    border-radius: 50%;
}
