/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* montserrat-700 - cyrillic_latin */
 @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: rgb(231, 231, 231);
}
.wrapper{
    padding-left: 300px
}
.container-limit{
    max-width: 1800px;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}


img{
    max-width: 100%;
}

*:focus{
    opacity: 0.5;
    outline: none;
}


.side-section{
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background: #dad6d6;
    transition: transform 1s ease-in-out;
    z-index: 100;
    border-right: 1px solid #e5e5e5;
}
.side-section.active{
    transform: none;
}
.side-section.disabled{
    transform: translateX(-90%);
}
.side-section::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
    opacity: 0;
    visibility: hidden;
}
.menu-logo{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    padding: 25px;
    overflow: hidden;
}
.logo-olimpys{
    display: inline-block;
    vertical-align: middle;
    width: 211px;
    height: 50px;

    text-indent: 1000px;
    overflow: hidden;
    background: url('/img/logo-rus-short.png') center center no-repeat;
    background-size: contain;
    transition: none;
    position: relative;
    text-decoration: none;
}
.side-section__button-back{
    position: absolute;
    top: 77px;
    right: -30px;
    z-index: 200;
    
    width: 60px;
    height: 60px;
    border-radius: 50%;

    cursor: pointer;
    background: url('../img/arrow-in-circle.png') center no-repeat #dad6d6;
    background-size: contain;
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;    
}
.side-section__button-back.active{
    transform: rotate(180deg);
}
.side-section__button-back.disabled{
    transform: none;
}
.button-back{
    width: 2.625rem;
    height: 2.625rem;
    fill: none;        
    border-radius: 50%;
}
.side-section__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.side-section__item{
    width: 100%;
}
.side-section__link{
    display: inline-block;
    width: 100%;
    padding: 18px 36px;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}
.side-section__link.active{
    background-color: #e7e7e7;
}
.side-section__link:hover{
    background-color: #2fc8b46c;
}

.w-100{
    display: none;
}

.folders-row{
    padding-top: 25px;
    padding-bottom: 25px;
}

.folder-col{
    padding: 30px;
}

.folder-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 350px;
    width: 100%;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12px;

    background-color: rgb(174, 171, 171);
    border-radius: 8px;
}
.folder-card:hover{
    background-color: #2fc8b46c;
}
.folder-img{
    width: 250px;
    height: 250px;
    height: auto;
}

.folder-name{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}


@media (max-width: 669px) {
    .wrapper{
        padding: 0;
    }
    
    .side-section{
        transform: translateX(-90%);
    }
    .side-section__button-back{
        transform: none;
    }
}