

/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* montserrat-700 - cyrillic_latin */
 @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

._hidden{
    display: none !important;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: rgb(255, 255, 255);
}
.wrapper{
    padding-left: 340px;
    padding-top: 50px;
    
}
.container-limit{
    max-width: 1800px;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}

img{
    max-width: 100%;
}

*:focus{
    opacity: 0.5;
    outline: none;
}

._container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.side-section{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    height: 100vh;
    width: 300px;

    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -webkit-transform: translateX(-90%);
    -ms-transform: translateX(-90%);
    transform: translateX(-90%);
    
    border-right: 1px solid #e5e5e5;
    background:  #ffcc7f;
}
.side-section.active{
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}
/* .side-section.disabled{
    -webkit-transform: translateX(-90%);
        -ms-transform: translateX(-90%);
            transform: translateX(-90%);
} */
.side-section::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    -webkit-transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
    -o-transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
    transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
    opacity: 0;
    visibility: hidden;
}
.menu-logo{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    padding: 25px;
    overflow: hidden;
}
.logo-olimpys{
    display: inline-block;
    vertical-align: middle;
    width: 211px;
    height: 50px;

    text-indent: 1000px;
    overflow: hidden;
    background: url('/img/logo-rus-short.png') center center no-repeat;
    background-size: contain;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    position: relative;
    text-decoration: none;
}
.side-section__button-back{
    position: absolute;
    top: 77px;
    right: -30px;
    z-index: 200;

    display: none;
    
    width: 60px;
    height: 60px;
    border: 4px solid black;
    border-radius: 50%;

    cursor: pointer;
    background: url('../img/arrow-in-circle.png') center no-repeat #ffcc7f;
    background-size: 75%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;    
}
.side-section__button-back.active{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.side-section__button-back.disabled{
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}
.button-back{
    width: 2.625rem;
    height: 2.625rem;
    fill: none;        
    border-radius: 50%;
}
.side-section__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
.side-section__item{
    width: 100%;
}
.side-section__link{
    display: inline-block;
    width: 100%;
    padding: 18px 36px;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}
.side-section__link.active{
    background-color: #ffffff;
}
.side-section__link:hover{
    background-color: rgba(64, 233, 140, 0.8);
}

.catalog-info{
    position: relative;
    min-height: 100px;
    padding: 15px 25px 10px 25px;
    border: 3px solid #ffcc7f;
    -webkit-box-shadow: 0  0 5px #ffcc7f;
            box-shadow: 0  0 5px #ffcc7f;
    border-radius: 20px;
}

.w-100{
    display: none;
}

.folders-row{
    padding-top: 25px;
    padding-bottom: 25px;
}

.player{
    min-height: 320px;
    height: auto;
    margin-bottom: 25px;
}

.folder-cols{
    padding-top: 15px;
    padding-bottom: 15px;
}

.folder-card{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: end;
         -ms-flex-pack: end;
             justify-content: space-between;

    min-height: 350px;
    width: 100%;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12px;
    
    background-color: rgba(255, 153, 0, 0.5);
    border-radius: 8px;
}
.folder-card:hover{
    background-color: #2fc8b46c;
}
.folder-img{
    width: 250px;
    height: 250px;
    margin-bottom: 0.5rem;
}

.folder-name{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.subject-name{
    display: inline-block;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}

.catalog-heading{
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;

}

.catalog-info__heding{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
}

.catalog-info__description{
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
}
.catalog-container-tasks{
padding: 90px 60px;
margin: 0 auto;
width: 100%;
}
.catalog-title-tasks{
    white-space: nowrap;
    overflow: hidden;
}
.catalog-title-tasks-text{
    font-weight: 600;
    font-size: 1.5rem;
}
.catalog-tasks-list{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -25px;
}
.catalog-tasks-list-content-first{
    padding: 0 20px;
    float: left;
    width: 50%;
}
.link-left-tasks,
.link-right-tasks{
    display: block;
    padding: 25px;
}
.link-left-tasks:hover,
.link-right-tasks:hover{
    color: #ffcc7f;
}
.catalog-tasks-list-left{
    background: #ffffff;
    border-radius: 8px;
    margin-top: 20px;
    border: 4px solid #ffcc7f;
    -webkit-box-shadow: 0 0 5px #ffcc7f;
    box-shadow: 0 0 5px #ffcc7f;
}
.catalog-tasks-list-left-title,
.catalog-tasks-list-right-title{
    width: 100%;
    height: auto;
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
}
.catalog-tasks-list-content-second{
    padding: 0 20px;
    float:  right;
    width: 50%;
}
.catalog-tasks-list-right{
    background: #ffffff;
    border-radius: 8px;
    margin-top: 20px;
    border: 4px solid #ffcc7f;
    -webkit-box-shadow: 0 0 5px #ffcc7f;
    box-shadow: 0 0 5px #ffcc7f;
}
.container-solve-tasks{
    padding-top: 0px;
    padding: 90px 60px;
    margin: 0 auto;
    width: 100%;
}
.container-solve-tasks-title{
    color: #000;
    margin-bottom: 30px;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 700;
}
.container-solve-tasks-item{
    border-radius: 2px;
    border: 2px solid #ffcc7f;
    margin-top: 25px;
}
.contant-container-solve-tasks{
    padding: 40px;
}
.contant-container-solve-tasks-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -ms-flex-wrap: wrap;    
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.contant-container-solve-tasks-title-text{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;    
}
.contant-container-solve-tasks-text{
    margin-top: 25px;
}
.container-solve-example-task{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;    
    word-spacing: 2px;
    padding-bottom: 25px;
}
.container-solve-example-draw{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}
.container-solve-tasks-item-decision{
    border-top: 1px solid #ffcc7f;    
}
.acardion-triggers{
    padding: 25px 25px 25px 45px;
    background-color: #ffcc7f; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;    
    font-size: 1rem;
    font-weight: 600;     
}
.acardion-triggers:hover{
    opacity: 0.8;
}
.solve-tasks-item-contant-text{
    padding: 15px 25px 15px 45px;
    font-size: 1.1rem;
    font-weight: 400;  
}
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
.acardion-triggers__icon{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: url("../img/plus-large.svg") center no-repeat #ffffff;
    background-size: contain;
}
.container-solve-tasks-item-decision[open] .acardion-triggers__icon{
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    transition: 1s;
}
.font-weight__normal{
    font-weight: 400;
}
.math-display{
    display: block;
    margin: 0 auto;    
}
.adaptiv-formyls{
    font-size: 0.625rem;
}
.text-aling__center{
    text-align: center;
}
.example-dano{
    margin-right: 5px;
    margin-left: 5px;
}
.solve-tasks-item-formyls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.exam,
.subj::first-letter{
    text-transform: uppercase;
}
/*MEDIA*/
@media (max-width: 669px) {
    html{
        font-size: 14px;
    }

    .wrapper{
        padding-left: 20px;
    }
    .side-section__button-back{
        display: initial;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .catalog-heading{
        text-align: center;
    }
    .subject-name{
        display: block;
        text-align: center;
    }
}

@media (max-width: 1070px){
    .catalog-tasks-list-content-second{      
       width: 100%;       
    }
    .catalog-tasks-list-content-first{        
        width: 100%;        
    }
    
}
@media (max-width: 900px){
    .catalog-title-tasks-text{
        font-size: 19px;
    }
}
@media (max-width: 685px){
    .catalog-title-tasks-text{
        font-size: 18px;
    }
}
@media (max-width: 800px){
    .link-left-tasks{
        font-size: 15px;
    }
    .link-right-tasks{
        font-size: 15px;
    }
}
@media (max-width: 400px){
    .link-left-tasks{
        font-size: 12px;
        padding: 20px 10px;
    }
    .link-right-tasks{
        font-size: 12px;
        padding: 20px 10px;
    }
}
