/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* montserrat-700 - cyrillic_latin */
 @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: #e5e5e5;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}


img{
    max-width: 100%;
}

*:focus{
    opacity: 0.5;
    outline: none;
}
.text-center{
    text-align: center;


}


.object-top{
    -o-object-position: top;
       object-position: top;
}
.object-center{
    -o-object-position: center;
       object-position: center;
}
.hidden{
    display: none !important; 
}
.wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    min-height: 100%;
    overflow:hidden;
}

.burger{
    display: none;

    width: 60px;
    height: 60px;

    border-radius: 10px;
    background: url('../img/burger-menu-black.svg') center center no-repeat transparent;
    background-size: cover;
}

.burger:hover{
    background-image: url('../img/burger-menu-white.svg');
    background-color: #FF9900;
}

.btn{
    display: inline-block;
    padding: 22px 36px;
    border-radius: 5px;

    text-align: center;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
}

.btn-bright{
    color: #fff;
    background-color: #FF9900;
    border: 3px solid #FF9900;
}

.btn-bright:hover{
    background-color: #f8a323;
    border: 3px solid #f8a323;
}

.btn-border{
    border: 3px solid #FF9900;
}

.btn-border:hover{
    background-color: #FF9900;
    color: #fff;
}

.section-heading {
    margin-bottom: 20px;

    font-size: 2.75rem;
    line-height: 1;
    font-weight: 400;
}

.main{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-top: 100px;
}

/*--------- HEADER -----------*/

.header{
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;

    background-color: #fff;
    /* margin-bottom: 50px; */
}


._container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__container{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    min-height: 100px;
}

.header__logo{
    padding: 5px 5px 5px 0;
    width: 217px;
    height: 60px;
}

.header__logo-img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.menu__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}

.menu__item{
    position: relative;
    z-index: 50;
    display: block;
}

.menu__item:not(:last-child){

    margin-right: 35px;
}

.menu__link{
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
}

.menu__link:hover{
    color: #FF9900b2;
}

.header__right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.header__contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    margin-right: 30px;
}

.header__order-call,
.header__number{
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 1;
    font-weight: 600;

}

.header__number{
    position: relative;
    opacity: 0.6;
    padding-left: 30px;
    color: #53bdee;
}

.header__number:hover{
    opacity: 0.8;
}

.header__number::before{
    position: absolute;
    top: -4px;
    left: 0;

    content: '';
    display: inline-block;

    width: 24px;
    height: 24px;
    
    background: url('../img/telegram-icon.png') center no-repeat transparent;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header__number:hover::before{
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.header__order-call{
    cursor: pointer;
    color: #FF9900;
}

.header__order-call:hover{
    opacity: 0.7;
}

.call-btn{
    height: 60px;
    width: 60px;

    border-radius: 10px;
    background: url('../img/phone-icon.svg') center center no-repeat #FF9900;
    background-size: 70%;
}

.header__call-btn{
    display: none;
    margin-right: 30px;
}

.login-btn{
    position: relative;
    display: none;

    padding: 18px 13px 18px 60px;

    font-size: 24px;
    line-height: 1;
    font-weight: 600;

    border-radius: 10px;
    color: #fff;
    background-color: #1b6060;
}

.login-btn::before{
    position: absolute; 
    top: 14px; 
    left: 10px;
    

    content: url('../img/login-icon.svg');
    display: block;

    height: 40px;
    width: 40px;
}

.login-btn:hover{
    background-color: #1b6060c2;
}

/*--------- CATALOG -------*/
.click-close{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;

    display: none;

    height: 100vh;
    width: 100%;
}
.click-close.active{
    display: initial;
}


.catalog-btn{
    position: relative;
    z-index: 50;
    cursor: pointer;
    padding-right: 30px;

    font-size: 1.125rem;
    line-height: 1;
    font-weight: 700;
}

.catalog-btn:hover{
    color: #FF9900b2;
}

.catalog-btn::after{
    position: absolute;
    top: 0;
    right: 0;

    content: '';
    display: block;

    width: 28px;
    height: 100%;
    background: url('../img/arrow-narrow-circle-broken-down-svgrepo-com.svg') center no-repeat transparent;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    transform: rotate(90deg);
}

.catalog-btn:hover::after{
    /* background-image: url('../img/catalog-btn-icon-bright.svg'); */
    transform: translateY(2px) rotate(90deg);
}

.catalog-btn.catalog-btn-active{
    color: #FF9900b2;
}

.catalog-btn.catalog-btn-active::after{
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background-image: url('../img/arrow-narrow-circle-broken-down-svgrepo-com.svg');
}

.catalog-menu{
    position: absolute;

    top: 40px;
    left: 0;
    z-index: 100;
    display: none;

    width: 800px;
    padding: 15px 20px 15px 0;

    background-color: #fff;
    border-radius: 10px;
    -webkit-filter: drop-shadow(0 0 80px #858585);
            filter: drop-shadow(0 0 80px #858585);
}

.catalog-menu.catalog-menu-active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-menu__rectangle{
    position: absolute;
    top: -2px;
    left: 35px;
    z-index: -1;

    width: 30px;
    height: 30px;

    border-radius: 4px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #fff;
}


.catalog-menu.catalog-left-active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 115%;
    top: -20px;
    z-index: 20;
}

.catalog-menu.catalog-left-active .catalog-menu__rectangle{
    left: -2px;
    top: 15px;
}

.catalog-menu__sections {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    margin: -15px 0;
}
.catalog-menu__sections-item {
    width: 100%;
    padding: 20px 10px;

    text-align: center;
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 600;

    cursor: pointer;
    color: #fff;
    background-color: #214aa9d1;
}
.catalog-menu__sections-item:first-child{
    border-top-left-radius: 10px;
}
.catalog-menu__sections-item:last-child{
    border-bottom-left-radius: 10px;
}
.catalog-menu__sections-item.active{
    background-color: #fff;
    color: #000;
}
.catalog-menu__sections-item:hover:not(.catalog-menu__sections-item.active){
    background-color: #197f7f89;
}
.catalog-menu__content {
    display: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    height: 100%;
}
.catalog-menu__content.active{
    display: initial;
}
.catalog-menu__subjecst-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: column; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    height: 100%;
}
.catalog-menu__subject {
    max-width: 200px;
    padding: 15px 10px;

    font-size: 1.1rem;
    line-height: 1;
    font-weight: 600;
}
.catalog-menu__subject-link{
    padding: 10px;
    border-radius: 10px;
}
.catalog-menu__subject-link:hover{
    background-color: #00000015;
}

/*------------- LEFT MENU ---------- */

.left-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: block;
    overflow: scroll;

    height: 100vh;
    max-width: 720px;

    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;


    background-color: #fff;

    -webkit-transition: -webkit-transform 0.3s ease-in-out;

    transition: -webkit-transform 0.3s ease-in-out;

    -o-transition: transform 0.3s ease-in-out;

    transition: transform 0.3s ease-in-out;

    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
            transform: translateX(-101%);
}

.left-menu__btn-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 60px;
}

.left-menu__btn{
    display: block;
    width: 40px;
    height: 40px;

    background: url('../img/X.svg') left top no-repeat transparent;
    background-size: 95%;
}

.left-menu__heading{
    display: block;
    text-align: center;

    margin-bottom: 80px;
    
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    opacity: 0.5;
}

.left-menu__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.left-menu__item{
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}


.left-menu__item:not(:last-child){
    margin-bottom: 40px;
}

.left-menu__link{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 24px;
    line-height: 1;
    font-weight: 600;

    border-radius: 5px;
    background-color: #8585852d;
}

.catalog-link{
    display: none;
}

.catalog-link{
    display: none;
}

.left-menu-active{
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}

.left-menu__login-btn{
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    display: none;

    height: 100vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.menu-overlay-active{
    display: block;
}
/* --acordion-- */
.left-menu__catalog {
    width: 100%;
}

.catalog-acordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.catalog-acordion__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 100%;
    min-height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    
    background-color: #ff990065;
    border-radius: 5px;
}
.catalog-acordion__title.active{
    opacity: 0.5;
}
.catalog-acordion__title.active > span{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.catalog-acordion__title:hover{
    opacity: 0.9;
}
.catalog-acordion__title-text {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
}
.catalog-acordion__title-icon {
    width: 30px;
    height: 30px;
    background: url('../img/down-arrow.png') center no-repeat transparent;
    background-size: contain;
}
.catalog-acordion__content {
    width: 100%;
}
.acordion-content {
    padding: 5px;
    max-height: 0;
    border-bottom: 1px solid #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: max-height 0.5 ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
    -o-transition: max-height 0.5 ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
    transition: max-height 0.5 ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
    
}
.acordion-content.active{
    visibility: visible;
    opacity: 1;
    max-height:-webkit-fit-content;
    max-height:-moz-fit-content;
    max-height:fit-content;
}
.acordion-content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.acordion-content__item:not(:last-child) {
    margin-bottom: 8px;
}
.acordion-content__link {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 600;
    border-radius: 8px;
}
.acordion-content__link:hover{
    background-color: #396fdb;
}
/* --------- MODAL =========== */
/* call-modal */

._modal-wraper {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    display: none;
}
._modal-wraper.active{
    display: initial;
}
.call-back__text-input._error,
.number-input._error,
.submit__text-input._error {
    -webkit-box-shadow: 0 0 15px red;
            box-shadow: 0 0 15px red;
}
.call-back {
    width: 530px;
    min-height: 600px;

}
.call-back,
.account {
    background-color: #fff;
    border-radius: 8px;
}

.modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


    padding: 20px;
}
.call-back__img {
    width: 170px;
    height: 170px;
}
.modal-img{

    margin-bottom: 20px;
}
.call-back__heading {
    margin-bottom: 15px;
}
.modal-heading {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}
.call-back__description {
    margin-bottom: 35px;
}
.call-back__description,
.call-back__agreements,
.submit__agreements{
    width: 380px;

    font-size: 0.875rem;
    line-height: 1.125;
    font-weight: 400;

    text-align: center;
    color: rgb(131, 135, 148);
}
.modal-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
}
.call-back__form {
    gap: 16px;
    margin-bottom: 35px;
}
.modal-input:focus{
    border: 2px solid #000;
    opacity: 1;
}

.modal-input,
.number-input__country-sign{
    border: 2px solid rgb(224, 226, 231);
    
    font-size: 1rem;
    line-height: 1.25;
}
.modal-input {
    width: 100%;
    padding: 7px 12px 9px;

    border-radius: 8px;
    outline: none;
}

.number-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}
.number-input__country-sign {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    padding: 7px 0 9px 0;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    text-align: center;
}
.number-input__feald {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.modal-btn{
    padding: 7px 20px 9px 20px;
    border-radius: 8px;

    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
    border: 2px solid transparent;
    color: #fff;
}
.call-back__submit-btn {
    background-color: #1b6060;
}

.link-underline {
    text-decoration: underline;
}
.modal-close{
    position: absolute;
    top: -65px;
    right: -65px;

    width: 60px;
    height: 60px;

    cursor: pointer;
    background: url('../img/X-white.svg') center no-repeat transparent;
    background-position: contain;
}
.modal-close:hover{
    opacity: 0.8;
}

/* account modal */
.account {
    width: 450px;
    min-height: 600px;

    background-color: #fff;
    border-radius: 8px;
}
.account__content{
    padding-top: 90px;
}
.account-tab{
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
.account-tab.active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.account__img{
    width: 300px;
    height: auto;
}

.login__heading {
    margin-bottom: 30px;
}
.login__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
}
.login__email-input {
    margin-bottom: 16px;
}

.login__recover-link-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.login__recover-link{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 8px;
    margin-bottom: 12px;

    font-size: 14px;
    line-height: 1;
    font-weight: 400;


}
.login__recover-link,
.login__reg-btn,
.registration__log-btn{
    color: #396fdb;
    cursor: pointer;
}
.login__recover-link:hover,
.login__reg-btn:hover{
    opacity: 0.8;
}
.login__submit-btn {
    background-color: #1b6060;
    margin-bottom: 20px;
}
.login__alternative,
.registration__alternative {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-bottom: 8px;
    border-top: 1px solid rgb(177, 177, 177);

    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;

}
.login__alternative-text,
.registration__alternative-text{
    margin-right: 10px;
}

.registration__heading {
    margin-bottom: 10px;
}
.registration__warning {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
}
.registration__form {
    gap: 16px;
    margin-bottom: 20px;
}

.registration__personal-check {
    position: relative;

    width: 100%;
    padding-left: 20px;

    font-size: 0.75rem;
    line-height: 1.2;
    font-weight: 400;

    cursor: pointer;
}
.registration__checkbox{
    display: none;
}
.registration__checkbox + span{
    position: absolute;
    top: 1px;
    left: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #585858;
}
.registration__checkbox + span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: url('../img/form-check-icon.png') center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-transition: opasity 0.3s ease-in-out;
    -o-transition: opasity 0.3s ease-in-out;
    transition: opasity 0.3s ease-in-out;
}
.registration__checkbox:checked + span:before{
    opacity: 1;
}
.registration__submit-btn {
    background-color: #006364;
}
.account__recovery {
    padding-top: 20px;
}

.recovery__back {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 20px;
    padding-left: 28px;


    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 600;

    -webkit-transform: translate(calc(50% - 20px), 50%);

        -ms-transform: translate(calc(50% - 20px), 50%);

            transform: translate(calc(50% - 20px), 50%);
    cursor: pointer;
    color: #396fdb;
}
.recovery__back:hover{
    opacity: 0.8;
}
.recovery__back::before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;

    width: 20px;
    height: 20px;

    background: url('../img/modal-back-icon.png') center no-repeat;
    background-size: contain;
}
.recovery__heading {
    margin-bottom: 20px;
}
.recovrey__info {
    margin-bottom: 30px;

    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
}
.recovrey__form {
    gap: 20px;
}

.recovrey__submit-btn {
    background-color: #006364;
}

/* submit */
.submit-wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 100%;
    height: auto;

    background: url('../../img/Meteor.svg') center no-repeat transparent;
    background-size: cover;
}
.submit{
    width: 800px;
    min-height: 600px;
 }
.submit__content{
    width: 100%;
    height: 100%;
    padding: 4rem;
    background-color: #fff;
    border-radius: 12px;
}
.submit.disabled{
    display: none;
}
.submit__img{
    width: 200px;
    height: 200px;
}
.submit__heading{
    font-size: 2rem;
    margin-bottom: 20px;
}
.submit__p{
    font-size: 1.25rem; 
    text-align: center;
    margin-bottom: 15px;
}
.submit__submit-btn{
    padding: 12px 20px;
}
.submit__text{
    margin-bottom: 25px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}
.submit__choise{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.choise{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}
.choise__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.choise__name{
    margin-right: 10px;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 600;
}
.choise__field{
    text-wrap: nowrap;
}

.submit__form{
    gap: 30px;
    margin-bottom: 35px;
    width: 500px;
}
.modal-input{
    font-size: 1.2rem;
    line-height: 1.5;
}
.number-input__country-sign.submit-country-sign{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
}
.success {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 10px;
}
.success.active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.success__h {
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
}
.success__p {
    margin-bottom: 20px;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 600;
}

/*--------- HERO -----------*/


.hero__container{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    min-height: 720px;
    padding: 100px 0 100px 80px;
    margin-bottom: 150px;
    border-bottom-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;

    color: #fff;
    background: url('../img/winter-vector-bg.jpg') center center no-repeat transparent;
    background-size: cover;
}

.hero__logo{
    position: absolute;
    right: 15%;
    top: 100px;

    height: 300px;
    width: auto;
    opacity: 0.8;
}

.hero__text{
    max-width: 50%;
    margin-bottom: 50px;
    background-color: #24649533;
    border-radius: 10px;
}

.hero__heading{
    margin-bottom: 25px;

    font-size: 4.375rem;
    line-height: 1.21;
    font-weight: 700;
}

.hero__description{
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
}

.hero__buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero__start{
    margin-right: 35px;
}

.hero__consult{
    background-color: #484bf2;
    border: 3px solid #484bf2;
}
.hero__consult:hover{
    background-color: #484bf2dd;
    border-color: #484bf2dd;
}

/*--------- ABOUT -----------*/

.about__container {
    position: relative;
    overflow: hidden;

    margin-bottom: 150px;
    padding: 50px 15px;

    text-align: center;
    border-radius: 30px;
    /* color: #fff; */
}
.about__content{
    position: relative;
    z-index: 2;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.about__heading {
    margin-bottom: 20px;

    /* font-size: 2.5rem;
    font-weight: 600; */
}

.about__description {
    max-width: 80%;

    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 400;
}

.about__bg{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    -webkit-filter: brightness(0.7);

            filter: brightness(0.7);
}

.about__bg-img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}

/*--------- COURSES -----------*/

.courses__container{
    margin-bottom: 150px;
}

.courses__heading{
    text-align: center;
    margin-bottom: 35px;
}

.courses__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.courses__item:not(:last-child){
    margin-right: 50px;
}

.course-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    max-width: 520px;
    min-height: 620px;
    border: 2px solid #fff;

    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}

.course-card__img-container{
    height: 320px;
}

.course-card__img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.course-card__content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;

    padding: 15px 20px 35px 20px;
}

.course-card__text{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;

    margin-bottom: 25px;
}


.course-card__heding{
    display: block;
    margin-bottom: 15px;

    font-size: 24px;
    line-height: 1;
    font-weight: 600;
}
.course-card__item{
    position: relative;

    padding-left: 15px;

    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
}
.course-card__item::before{
    position: absolute;
    top: 11px;
    left: 0;
    content: '';

    width: 6px;
    height: 6px;
    border-radius: 50%;

    background-color: #000;
}
.course-card__item:not(:last-child){
    margin-bottom: 25px;
}

.course-card__btn-container > *{
    text-align: center;
}

.course-card__btn-container > *:not(:last-child){
    margin-right: 20px;
}

.course-card__btn{
    display: inline-block;

    padding: 10px 15px;

    font-size: 24px;
    line-height: 1;
    font-weight: 600;

    border-radius: 5px;
    border: 3px solid #484bf2;
}

.course-card__btn:hover{
    background-color: #484bf2;
    color: #fff;
}
.course-card__btn:active,
.course-card__btn:focus{
    background-color: #e9605a;
    border: 3px solid #e9605a;
    opacity: 1;
}

/* ------------------- TUTORS ------------- */
.tutors__container{
    margin-bottom: 150px;
}

.tutors__heading{
    text-align: center;
    margin-bottom: 65px;
}

.tutors__cards-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.tutors__cards-container > *:not(:last-child){
    margin-right: 45px;
}

.tutor-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
}

.tutor-card__img-wraper{
    position: relative;
    height: 330px;
    width: 330px;
    margin-bottom: -80px;
}



.tutor-card__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-filter: drop-shadow(0 0 5px #345e90);
            filter: drop-shadow(0 0 5px #345e90);
}

.tutor-card__content{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;   

    min-height: 520px;
    height: calc(100% - 250px);
    border: 3px solid #345e90;
    -webkit-box-shadow: 0 0 5px #345e90;
            box-shadow: 0 0 5px #345e90;
    border-radius: 20px;
    background-color: #fff;
}

.tutor-card__text{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 85px 20px 0 20px;
    margin-bottom: 20px;
}

.tutor-card__name{
    display: block;

    margin-bottom: 20px;

    font-size: 24px;
    line-height: 1;
    font-weight: 700;
}

.tutors-card__list{
    margin-bottom: 45px;
}

.tutor-card__item{
    position: relative;

    padding-left: 15px;

    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;    
}

.tutor-card__item::before{
    position: absolute;
    top: 11px;
    left: 0;
    content: '';

    width: 6px;
    height: 6px;
    border-radius: 50%;

    background-color: #000;
}

.tutor-card__item:not(:last-child){
    margin-bottom: 25px;
}

.tutor-card__decription{
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
}

.tutor-card__btn-more{
    display: block;
    text-align: center;

    border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;

    padding: 15px 0;

    font-size: 16px;
    font-weight: 600;

    background-color: #345e90;
    color: #fff;
}

.tutor-card__btn-more:hover{
   opacity: 0.8;
}

/* -------EXUMPLES ----------- */

.exumples__container{
    margin-bottom: 150px;
}

.exumples__heading{
    text-align: center;
}

.exumples__description{
    margin-bottom: 30px;

    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
}

.exumples__video-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;    
}

.exumples__youtube-link{
    font-weight: 700;
    color: #e33303;
}

.exumples__youtube-link:hover{
    opacity: 0.7;
}

.swiper {
    width: 100%;
    max-width: 100%;
    height: 400px;
  }

.swiper-slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 15px;

    /* padding-right: 45px;
    padding-left: 45px; */
    padding-bottom: 40px;
}

.exumples__video{
    flex-basis: 40%;
    height: 100%;
}

/* -------------- CLIENTS ----------- */

.clients__container{
    margin-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.clients__heading{
    text-align: center;
    margin-bottom: 35px;
}

.clients__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.clients__item{
    max-width: 440px;
    min-height: 370px;
    padding: 25px 35px;

    border-radius: 15px;
    background-color: #fff;
}

.clients__item:not(:nth-child(3n)){
    margin-right: 35px;
}

.clients__item:nth-last-child(n+4){
    margin-bottom: 35px;
}

.user-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid #345e90;
    -webkit-filter: drop-shadow(0 0 5px #345e90);
            filter: drop-shadow(0 0 5px #345e90);
}

.user-card__profile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    height: 125px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid grey;
}

.user-card__avatar{

    width: 63px;
    height: 63px;
    margin-right: 15px;
    
}

.user-card__user-name{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 10px;

    font-size: 24px;
    line-height: 1;
    font-weight: 600;
}

.user-card__user-profi-link{
    display: inline-block;

    height: 30px;
    width: 30px;
    margin-left: 7px;

    background: url('../img/user-icon-profiru.png') center center no-repeat transparent;
    background-size: cover;

    -webkit-transform: translateY(1px);

        -ms-transform: translateY(1px);

            transform: translateY(1px);
}

.user-card__user-vk-link{
    display: inline-block;

    height: 30px;
    width: 30px;
    margin-left: 7px;

    background: url('../img/vk-icon.svg') center center no-repeat transparent;
    background-size: cover;

    -webkit-transform: translateY(1px);

        -ms-transform: translateY(1px);

            transform: translateY(1px);
}

.user-card__user-class{

    font-size: 16px;
    line-height: 1;
    font-weight: 400;
}

.user-card__testimonial-text{
    

    font-size: 16px;
    line-height: 2;
    font-weight: 400;
}

.clients__btn-more{
    display: none;

}

/* ---------- FOOTER ------------ */
.footer{
    background-color: #18579b;
}

.footer__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 110px;

    color: #fff;
}

.footer__logo{
    position: relative;
    height: 70px;
    width: 240px;
}

.footer__logo-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.footer__nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__nav-item:not(:last-child){
    margin-right: 35px;
}

.footer__nav-link{
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 600;
}

.footer__nav-link:hover{
    color: #FF9900;
}

.footer__cocial-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__social-item:not(:last-child){
    margin-right: 25px;
}

.footer__social-link{
    display: inline-block;
    width: 60px;
    height: 60px;
}

.vk-link{
    background: url('../img/vk-svgrepo-com.svg') center center no-repeat transparent;
    background-size: 66%;
}

.youtube-link{
    background: url('../img/footer-youtube.svg') center center no-repeat transparent;
    background-size: cover;
}

.telegram-link{
    background: url('../img/footer-telegram.svg') center center no-repeat transparent;
    background-size: 68%;
}

/* -------------------------------------------- */
/* TUTORS MORE */
/* ------------------------------------------------- */

._tutors-wraper{
    background: url('../img/tutors-more-bg.jpg') center center no-repeat;
    background-size: cover;
    padding: 25px 0;
}

.tutors-more__top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-bottom: 120px;
}

.tutors-more__column-left,
.tutors-more__column-right,
.tutors-more__bottom-left,
.tutors-more__bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 700px;
}
.tutors-more__column-right,
.tutors-more__bottom-right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.tutors-more__column-left{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.more-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.more-card__img-container{
    width: 450px;
    height: 450px;
    margin-bottom: -180px;
}
.more-card__img {
    position: relative;
    z-index: 5;

    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;

    -webkit-filter: drop-shadow(0 0 10px black);

            filter: drop-shadow(0 0 10px black);
}
.more-card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding: 190px 60px 100px 60px;
    border-radius: 40px;

    border: 12px solid #007c7d;
    background-color: #fff;
    -webkit-filter: drop-shadow(0 0 10px #000);
            filter: drop-shadow(0 0 10px #000);
}
.more-card__name {
    text-align: center;
    margin-bottom: 10px;

    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;

    color: #006364;
}
.more-card__post {
    margin-bottom: 15px;

    font-size: 1.75rem;
    line-height: 1;
    font-weight: 600;    
}
.more-card__post_padding{
    margin: 30px 0px 15px 0px;
}
.more-card__item {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;   
}

.more-card__number{
    font-size: 1.5rem;
    font-weight:600;
}

.more-card__item:not(:last-child){
    margin-bottom: 25px;
}

.tutors-more__bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
}


.tuturs-more__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
}

.tuturs-more__social>*:not(:last-child){
    margin-bottom: 40px;
}

.tutors-more__vk-link,
.tutors-more__youtube-link,
.tutors-more__telegram-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    font-size: 1.375rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
}

.tutors-more__vk-ikon,
.tutors-more__youtube-ikon,
.tutors-more__telegram-ikon {
    width: 82px;
    height: 67px;
    margin-right: 60px;
}

.tutors-more__vk-ikon {
    background: url('../img/tutors-more-vk-icon.png') center center no-repeat transparent;
    background-size: contain;
}

.tutors-more__telegram-ikon {
    background: url('../img/tutors-more-telegram-icon.png') center center no-repeat transparent;
    background-size: contain;
}


.tutors-more__youtube-ikon{
background: url('../img/tutors-more-youtube-play.svg') center center no-repeat transparent;
background-size: contain;
}

.tutors-more__logo {
    width: 215px;
    height: 330px;
}
.tutors-more__logo-img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.tutors-more__achivements {
    padding: 80px 15px 100px 15px;

    border-radius: 40px;
    color: #fff;
    background-color: #007c7d;
    -webkit-filter: drop-shadow(0 0 10px #000);
            filter: drop-shadow(0 0 10px #000);
}
.tutors-more__achivements > ul:not(:last-child){
    margin-bottom: 70px;
}
.tutors-more__achivements-heading {
    margin-left: -150px;

    font-size: 2.0625rem;
    line-height: 1;
    font-weight: 600;
}
.tutors-more__achivements-heading-underline{
    display: block;
    width: 480px;
    height: 4px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 70px;
    -webkit-transform: translateX(-82px);
        -ms-transform: translateX(-82px);
            transform: translateX(-82px);
}

.achivements-item {
    font-size: 1.375rem;
    line-height: 1.2;
    font-weight: 400;
}
.achivements-item:not(:last-child){
    margin-bottom: 60px;
}
.tutors-more__subjeck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    text-transform: uppercase;
    font-size: 2.0625rem;
    line-height: 1;
}

.tutors-more__subjeck-heading {
    margin-bottom: 50px;
    font-weight: 600;
    color: #fff;
}
.tutors-more__subjeck-column-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.tutors-more__subjeck-column-container>*:not(:last-child){
    margin-right: 25px;
    margin-bottom: 30px;
}
.tutors-more__subjeck-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 270px;    
}
.tutors-more__subjeck-name {
    margin-bottom: 32px;
    font-weight: 400;
    color: #f3a01d;    
}
.tutors-more__subjeck-img-container {
    width: 600px;
    height: 221px;
}
.tutors-more__subjeck-img-ximiya{
    width: 100%;
    height:100%;
    -o-object-fit: contain;
       object-fit: contain;       
}
.tutors-more__subjeck-img {
    width:80%;        
    -o-object-fit: contain;        
       object-fit: contain; 
    -o-object-position: center; 
       object-position: center;      
}
.tutors-more__decoration {
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: -25px;
}
.tutors-more__decoration-green,
.tutors-more__decoration-white{
    position: absolute;
    bottom: 0;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
}
.tutors-more__decoration-green {
    left: 0;
    z-index: 1;

    height: 70px;
    width: 100%;

    background-color: #006364;
}
.tutors-more__decoration-white {
    z-index: 5;
    right: 0;;
    top: 0;

    width: 60%;

    background-color: #fff;
}
.tutors-more__youtube-link-wrap{
    display: none;
}
/* ------------- MEDIA ---------- */

@media (max-width: 1647px) {
    .header__contact{
        display: none;
    }

    .header__call-btn{
        display: inline-block;
    }
}

@media (max-width: 1448px){
    .header__menu{
        display: none;
    }

    .burger{
        display: inline-block;
    }

    .header__login-btn{
        margin-right: 25px;
    }

    .hero__text{
        max-width: 70%;
    }

    .hero__container{
        background-position: right;
    }
}

@media (max-width: 1419px){
    .clients__item:nth-child(2n){
        margin-right: 0;
    }


    .clients__item:nth-last-child(-n+3){
        display: none;
    }

    .clients__list{
        margin-bottom: 35px;
    }

    .clients__btn-more{
        display: inline-block;
    }

    .clients__item:not(:nth-child(2n)){
        margin-right: 35px;
    }

    .clients__item:not(:last-child){
        margin-bottom: 35px;
    }

    .clients__item:last-child{
        margin: 0;
    }

    .hero__logo{
        right: 2%;
    }
}



@media (max-width: 1266px){
    .footer__nav{
        display: none;
    }
}

@media (max-width: 1690px){
    .courses__list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .courses__item:not(:last-child){
        margin: 0 0 35px 0;
    }
}
@media (max-width: 1040px){
    .left-menu__catalog-item{
        display: none;
    }
    .catalog-link{
        display: initial;
    }
}
@media (max-width: 1020px){
    .hero__text{
        max-width: 80%;
    }

    .about__description{
        max-width: 90%;
    }

    .hero__logo{
        display: none;
    }
}

@media (max-width: 944px){
    .clients__item:not(:last-child){
        margin: 0 0 35px 0;
    }

    .clients__item:nth-last-child(-n+6){
        display: none;
    }
}

@media (max-width: 910px){
    .hero__text{
        max-width: none;
    }
}

@media (max-width: 874px){
    .tutors__cards-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: stretch;
            -ms-flex-pack: stretch;
                justify-content: stretch;
    }
    .tutors__cards-container > *:not(:last-child){
        margin: 0 0 45px 0;
    }

    .swiper-slide{
        flex-direction: column;
        gap: 10px;
        justify-content: start;
        align-items: center;
    }

    .exumples__video{
        flex-basis: 50%;
        width: auto;
    }
    
}

@media (max-width: 814px){
    .hero__container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero__buttons{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .hero__buttons > *{
        width: 100%;
    }

    .hero__buttons > *:not(:last-child){
        margin: 0 0 20px 0;
    }

    .about__description{
        max-width: none;
    }

    ._modal-wraper{
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .account,
    .call-back,
    .submit{
        width: 100%;
        min-height: 100vh;
        height: auto;
    }
    .modal-close{
        top: 12px;
        right: 12px;
        z-index: 200;

        background-image: url('../img/X.svg');
    }
    .call-back__agreements,
    .call-back__description,
    .submit__agreements{
        width: 100%;
    }
    .submit__content{
        padding: 0.5rem 0.5rem 2rem 0.5rem;
    }
}

@media (max-width: 560px){
    .header__logo{
        height: 60px;
        width: 120px;
    }

    .hero__heading{
        font-size: 3.5rem;
    }

    .hero__description{
        font-size: 1.2rem;
    }

    .footer__container{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .footer__logo{
        display: none;
    }
    .submit__form{
        width: 300px;
    }
}

@media (max-width: 500px){
    .header__login-btn{
        display: none;
    }

    .left-menu__login-btn{
        display: none;
    }
}

@media (max-width: 447px){
    .course-card__btn-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .course-card__btn-container > *:not(:last-child){
        margin: 0 0 20px 0;
    }
    
    .tutor-card__img-wraper{
        height: 250px;
    }

    .clients__container{
        padding: 0;
    }

    .clients__btn-more{
        padding: 10px 15px;
    }

    .swiper-button-prev,
    .swiper-button-next{
        display: none;
    }
}

@media (max-width: 320px){
    .about__description{
        text-align: justify;
        font-size: 1rem;
        line-height: 1.5;
    }

    .courses__container{
        padding: 0;
    }

    .left-menu{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .left-menu__item{
        padding-right: 5px;
        padding-left: 5px;
    }
    
}

/* TUTORS MEDIA */

@media (max-width: 1570px){
    .tutors-more__top{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .tutors-more__card{
        margin-bottom: 80px;
    }
    .tutors-more__bottom-right{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .tutors-more__decoration{
        display: none;
    }
}

@media (max-width: 1430px){
    .tutors-more__bottom{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .tutors-more__bottom-right{
        margin-bottom: 80px;
    }
}

@media (max-width: 980px){
    .tutors-more__top > *,
    .tutors-more__bottom > *{
        width: 100%;
    }
    .tutors-more__achivements-heading{
        margin-left: 0;
    }
    .tutors-more__achivements-heading-underline{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}
@media (max-width: 540px){
    .tutors-more__top,
    .tutors-more__bottom{
        padding: 0;
    }
    .more-card__body{
        padding: 100px 20px 50px 20px;
        border: 6px solid #007c7d;
    }
    .more-card__img-container{
        width: 280px;
        height: 280px;
        margin-bottom: -100px;
    }
    .tutors-more__achivements-heading-underline{
        width: 100%;
    }
}
@media(max-width: 410px){
    .tutors-more__vk-ikon, 
    .tutors-more__telegram-ikon {
        width: 40px;
        height: 35px;
        margin-right: 30px;
    }
    .tutors-more__youtube-ikon{
        width: 55px;
        height: 50px;
    }
    .tutors-more__subjeck-img-container{
        width: 320px;
        
    }
}

@media(max-width: 410px){
    ._tutors-wraper{
        padding: 5px 0;
    }
    .more-card__body{
        padding: 100px 10px 30px 10px;
    }
    .tutors-more__achivements{
        padding: 50px 10px 80px 10px;
    }
    .tutors-more__achivements-heading-underline{
        height: 2px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .tutors-more__achivements-heading,
    .more-card__post{
        font-size: 1.5rem;
    }
    .achivements-item{
        font-size: 1rem;
    }
}
@media (max-width: 460px){
    .tutors-more__vk-ikon, 
    .tutors-more__youtube-ikon, 
    .tutors-more__telegram-ikon{
        margin-right: 15px;
    }
    .tutors-more__youtube-link{
        line-height: 1.4;
    }
    .tutors-more__youtube-link-wrap{
        display: initial;
    }
}
